@font-face {
    font-family: 'aAvocadoTaco';
    src: url('font/aAvocadoTaco.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bg/desert-5112222.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
}

#gameScreen {
    max-width: 100%;
    max-Height: 100%;
}

.options {
    max-width: 720px;
    background-color: #0A9EC8;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.keyInfo {
    max-width: 720px;
    background-color: #994408;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

span {
    margin-top: 10px;
    font-size: 20px;
}

.startScreen {
    position: absolute;
}

#startGameButton {
    position: absolute;
    top: 10px;
    left: 37%;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    background-color: #FF9600;
    height: 50px;
    width: 200px;
    transition: transform 0.3s ease;
    font-size: 25px;
}

#startGameButton:hover {
    cursor: pointer;
    size: 1.1;
    transform: scale(1.1);
}

#fullScreenButton {
    transition: transform 0.3s ease;
    background: none;
    border: none;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#fullScreenButton img {
    height: 50px;
}

#fullScreenButton:hover {
    cursor: pointer;
    size: 1.1;
    transform: scale(1.1);
}

#muteButton {
    transition: transform 0.3s ease;
    background: none;
    border: none;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

#muteButton img {
    height: 45px;
}

#muteButton:hover {
    cursor: pointer;
    size: 1.1;
    transform: scale(1.1);
}

#startScreenImage {
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}