@font-face {
    font-family: 'aAvocadoTaco';
    src: url('font/aAvocadoTaco.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/bg/desert-5112222.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
}

#gameScreen {
    max-width: 100%;
    max-height: 100%;
}

.options {
    max-width: 100%;
    background-color: #0A9EC8;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.keyInfo {
    max-width: 100%;
    background-color: #994408;
    max-height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

span {
    margin-top: 10px;
    font-size: 20px;
}

.startScreen {
    position: absolute;
}

#startScreenImage {
    width: 720px;
    height: 480px;
}

.endScreen {
    position: absolute;
    display: none;
}

#endScreenImage {
    width: 720px;
    height: 480px;
}

#startGameButton {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    background-color: #FF9600;
    height: 10%;
    width: 30%;
    font-size: 25px;
}

#restartGame {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    background-color: #FF9600;
    height: 10%;
    width: 30%;
    font-size: 25px;
}

#startGameButton:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 250ms;
}

#fullScreenButton {
    transition: transform 0.3s ease;
    background: none;
    border: none;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#fullScreenButton img {
    height: 50px;
}

#fullScreenButton:hover {
    cursor: pointer;
    size: 1.1;
    transform: scale(1.1);
}

#muteButton {
    transition: transform 0.3s ease;
    background: none;
    border: none;
    font-family: 'aAvocadoTaco', Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

#muteButton img {
    height: 45px;
}

#muteButton:hover {
    cursor: pointer;
    size: 1.1;
    transform: scale(1.1);
}

.mobileButtons {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.mobileButtons img {
    height: 40px;
    margin-left: 4px;
    margin-right: 4px;
    border: 2px solid black;
    border-radius: 5px;
}

.rotatePhone {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #6D6D6D;
}

.rotatePhone img {
    position: fixed;
    height: 100%;
    width: 100%;
}

.rotatePhone span {
    position: fixed;
    font-size: 50px;
    top: 100px;
    left: 10%;
    display: flex;
    color: white;
    z-index: 1;
}

canvas {
    background-color: transparent;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }


    .rotatePhone {
        display: flex;
    }

    body {
        background-color: #6D6D6D;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

    .rotatePhone {
        display: none;
    }

    #gameScreen {
        height: 100%;
        width: 100%;
    }

    .startScreen {
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    .endScreen {
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
    }

    .options {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
        display: block;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
    }

    #fullScreenButton {
        display: none;
    }

    span {
        display: none;
    }

    #endScreenImage {
        width: 100%;
        height: auto;
    }

    #startScreenImage {
        width: 100%;
        height: auto;
    }

    #startGameButton {
        font-size: 3.5vw;
    }

    #restartGame {
        font-size: 3.5vw;
    }

    .keyInfo {
        display: none;
    }

    .mobileButtons {
        display: flex;
    }
}